.design,
.design * {
    box-sizing: border-box;
}
.design {
    background: var(
            --black-080808,
            linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            linear-gradient(to left, #080808, #080808)
    );
    width: 1920px;
    height: 1297px;
    position: relative;
    overflow: hidden;
}
.first-block {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 241px;
    top: 148px;
}
.block-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
}
.block-title {
    color: var(--white-eee, #eeeeee);
    text-align: left;
    font: var(--h-2-24-medium, 500 24px "Poppins", sans-serif);
    position: relative;
}
.result-count {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.result-count2 {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--subs-16-light, 300 16px "Poppins", sans-serif);
    position: relative;
}
._5 {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--subs-16-light, 300 16px "Poppins", sans-serif);
    position: relative;
}
.error-blocks {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.error-block {
    background: var(--lightblack-1-d-1-e-21, #1d1e21);
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.title {
    border-style: solid;
    border-color: var(--darkgrey-545659, #545659);
    border-width: 0px 0px 1px 0px;
    padding: 4px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    position: relative;
}
.coordinator-dep-766-c-788-d-46-74-hw-6 {
    color: var(--green-4-ecca-3, #4ecca3);
    text-align: left;
    font: var(--h-4-16-semibold, 500 16px "Poppins", sans-serif);
    position: relative;
}
.restart-info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    min-width: 155px;
    position: relative;
}
.clock {
    padding: 1px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
._30-min {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.error-counts {
    border-style: solid;
    border-color: var(--darkgrey-545659, #545659);
    border-width: 0px 0px 1px 0px;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 96px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 635px;
    position: relative;
}
.count-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 136px;
    position: relative;
}
.icon-park-outline-attention {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.count {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.errors {
    color: var(--darkwhite-d-9-d-9-d-9, #d9d9d9);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
._10 {
    color: var(--darkwhite-d-9-d-9-d-9, #d9d9d9);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.count-info2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 136px;
    position: relative;
}
.trace {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
._0 {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.info {
    color: var(--white-eee, #eeeeee);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
._102 {
    color: var(--white-eee, #eeeeee);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.warnings {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.debug {
    color: var(--white-eee, #eeeeee);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
._151 {
    color: var(--white-eee, #eeeeee);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.unknown {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.fatal {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.result-counts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.total-lines {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 136px;
    position: relative;
}
.edit-3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.data {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.total-lines2 {
    color: var(--white-eee, #eeeeee);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
._13 {
    color: var(--white-eee, #eeeeee);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.clock2 {
    padding: 1px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.icon-park-outline-attention2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.icon-park-outline-attention3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.warnings2 {
    color: var(--darkwhite-d-9-d-9-d-9, #d9d9d9);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.non-json-lines {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.x-circle {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.data2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.non-json-lines2 {
    color: var(--white-eee, #eeeeee);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.edit-32 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.clock3 {
    padding: 1px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.errors2 {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.icon-park-outline-attention4 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.icon-park-outline-attention5 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.fatal2 {
    color: var(--darkwhite-d-9-d-9-d-9, #d9d9d9);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.edit-33 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.clock4 {
    padding: 1px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.icon-park-outline-attention6 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.icon-park-outline-attention7 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.icon-park-outline-attention8 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.x-circle2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.edit-34 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.second-block {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 984px;
    top: 148px;
}
.jobs-logs {
    color: var(--white-eee, #eeeeee);
    text-align: left;
    font: var(--h-2-24-medium, 500 24px "Poppins", sans-serif);
    position: relative;
}
._103 {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--subs-16-light, 300 16px "Poppins", sans-serif);
    position: relative;
}
.title2 {
    border-style: solid;
    border-color: var(--darkgrey-545659, #545659);
    border-width: 0px 0px 1px 0px;
    padding: 4px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 636px;
    position: relative;
}
.schedule-db-init-mkhnd {
    color: var(--green-4-ecca-3, #4ecca3);
    text-align: left;
    font: var(--h-4-16-semibold, 500 16px "Poppins", sans-serif);
    position: relative;
}
.clock5 {
    padding: 1px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
._30-min-ago {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.error-while-execution-schedules-have-different-providers-context-pl-pg-sql-function-raise-error-integer-character-varying-line-8-at-raise-sql-statement-select-raise-error-8 {
    color: var(--darkwhite-d-9-d-9-d-9, #d9d9d9);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
    align-self: stretch;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.button {
    border-radius: 4px;
    border-style: solid;
    border-color: var(--green-4-ecca-3, #4ecca3);
    border-width: 1px;
    padding: 16px 32px 16px 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.see-full {
    color: var(--green-4-ecca-3, #4ecca3);
    text-align: left;
    font: var(--text-14-regular, 400 14px "Poppins", sans-serif);
    position: relative;
}
.button2 {
    border-radius: 4px;
    padding: 9px 10px 9px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.ph-copy-light {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.clock6 {
    padding: 1px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.ph-copy-light2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.clock7 {
    padding: 1px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.ph-copy-light3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.clock8 {
    padding: 1px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.ph-copy-light4 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.clock9 {
    padding: 1px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.ph-copy-light5 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.header {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 240px;
    top: 0px;
}
.header-part-1 {
    background: var(--lightblack-1-d-1-e-21, #1d1e21);
    border-radius: 0px 0px 0px 8px;
    padding: 32px;
    display: flex;
    flex-direction: row;
    gap: 551px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.dashboard-title {
    color: var(--white-eee, #eeeeee);
    text-align: left;
    font: var(--h-1-24-semibold, 600 24px "Poppins", sans-serif);
    position: relative;
}
.block-title2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.info-for {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.claster {
    padding: 0px 32px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.cluster {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--h-3-20-light, 300 20px "Poppins", sans-serif);
    position: relative;
}
.title3 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 16px;
    position: relative;
}
.first-claster {
    color: var(--green-4-ecca-3, #4ecca3);
    text-align: left;
    font: var(--h-3-20-light, 300 20px "Poppins", sans-serif);
    position: relative;
}
.down {
    padding: 7px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.space {
    padding: 0px 32px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.space2 {
    color: var(--darkgrey-545659, #545659);
    text-align: left;
    font: var(--h-3-20-light, 300 20px "Poppins", sans-serif);
    position: relative;
}
.title4 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.first-space {
    color: var(--green-4-ecca-3, #4ecca3);
    text-align: left;
    font: var(--h-3-20-light, 300 20px "Poppins", sans-serif);
    position: relative;
}
.down2 {
    padding: 7px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.tabs {
    background: var(--lightblack-1-d-1-e-21, #1d1e21);
    border-radius: 0px 0px 8px 0px;
    padding: 31px 32px 0px 32px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.active-tab {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.mdi-report-box-plus-outline {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.active {
    background: var(
            --greengradient,
            linear-gradient(
                    122.37deg,
                    rgba(99, 242, 196, 1) 0%,
                    rgba(35, 149, 108, 1) 100%
            )
    );
    border-radius: 25px 0px 0px 25px;
    flex-shrink: 0;
    width: 6px;
    height: 36px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(-1, 1);
}
.icon {
    opacity: 0.5;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
