/* Figma Styles of your File */
:root {
    /* Colors */
    --white-eee: #eeeeee;
    --black-080808: linear-gradient(
            to left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(to left, #080808, #080808);
    --lightblack-1-d-1-e-21: #1d1e21;
    --green-4-ecca-3: #4ecca3;
    --darkgrey-545659: #545659;
    --greengradient: linear-gradient(
            122.37deg,
            rgba(99, 242, 196, 1) 0%,
            rgba(35, 149, 108, 1) 100%
    );
    --darkwhite-d-9-d-9-d-9: #d9d9d9;
    --darkgreen-44-c-198: #44c198;
    --errororange-f-07-b-3-f: #f07b3f;
    --warningyellow-ffd-460: #ffd460;
    --fatalred-ea-5455: #ea5455;

    /* Fonts */
    --h-1-24-semibold: 600 24px "Poppins", sans-serif;
    --h-2-24-medium: 500 24px "Poppins", sans-serif;
    --h-3-20-light: 300 20px "Poppins", sans-serif;
    --subs-16-light: 300 16px "Poppins", sans-serif;
    --h-4-16-semibold: 500 16px "Poppins", sans-serif;
    --text-14-regular: 400 14px "Poppins", sans-serif;

    /* Effects */
}
